<!-- cart-login.liquid -->
<div class="flex items-center space-x-4">
  <!-- Enlace al carrito -->
  <a href="{{ routes.cart_url }}" class="hover:text-gray-300 transition duration-300">
    {% render 'icon-shopping-bag' %}
  </a>

  <!-- Login/Registro -->
  {% if customer %}
    <!-- Si el cliente est치 autenticado -->
    <a href="/account" class="hover:text-gray-300 transition duration-300">Mi cuenta</a>
    <a href="/account/logout" class="hover:text-gray-300 transition duration-300">Cerrar sesi칩n</a>
  {% else %}
    <!-- Si el cliente no est치 autenticado -->
    <a href="/account/login" class="hover:text-gray-300 transition duration-300">Iniciar sesi칩n</a>
    <a href="/account/register" class="hover:text-gray-300 transition duration-300">Registrarse</a>
  {% endif %}
</div>
